body.main {
	padding: 10px 10px 10px 26px;
	background-color: #fcfafa;
	background-position: top left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url(../images/banner.jpg);
	}
body.index {
	background-color: #fcfafa;
	}
#main {
	border: 1px solid #6f4b32;
	clear: both;
	background: #beb19a;
	}
#content {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	background: #fcfafa;
	min-height: 540px;
	}
#paging {
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
	padding-bottom: 10px;
	}
h1 {
	font-size: 16pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	text-align: center
	}
h2 {
	font-size: 14pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	padding-left: 62px
	}
h3 {
	font-size: 12pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	padding-left: 62px
	}
h4 {
	font-size: 12pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	padding-left: 80px
	}
p { 
	font-size: 9pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	padding-right: 100px; 
	padding-left: 62px 
	}
p.section {
	font-size: 9pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 80px;
	padding-right: 0px;
	}
p.description {
	font-size: 9pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	padding-right: 10px; 
	padding-left: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
p.code {
	font-size: 9pt; 
	font-family: "Andale Mono", monospace;
	margin-left: 40px;
	margin-right: 60px;
	padding-top: 10px;
	padding-right: 40px; 
	padding-left: 6px;
	padding-bottom: 30px;
	background-color: #fefcf4;
	border: 1px solid #c0c0c0;
	}
p.note {
	font: 10pt georgia;
	line-height: 16pt;
	margin-top: 12px;
	margin-left: 150px;
	margin-bottom: 12px;
	margin-right: 170px;
	text-indent: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #e6e6e6;
	}
p.foot { 
	font-size: 6pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	text-align: center;
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
p.update { 
	font-size: 6pt; 
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; 
	text-align: center;
	padding-top: 0px
	}
img {
	padding-left: 100px;
	padding-bottom: 10px;
	}
img.testImage {
	padding-left: 0px;
	padding-top: 30px;
	padding-bottom: 10px;
	}
img.tight {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
ol {
	padding-left: 100px
	}
li { 
	font-size: 9pt; 
	font-family: courier; 
	padding-right: 150px; 
	padding-left: 10px 
	}
a.forward {
	position: relative;
	float: right;
	font: 10pt georgia;
	line-height: 16pt;
	text-align: right;
	padding-right: 80px;
	color: #ffffff;
	}
a.index {
	position: relative;
	float: left;
	font: 10pt georgia;
	line-height: 16pt;
	text-align: left;
	padding-left: 80px;
	color: #ffffff;
	}
img.embedded {
	padding-left: 0px
	}
ul {
	padding-right: 135px; 
	padding-left: 130px 
	}
table {
	font: normal "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 0 1em;
	color: #000;
	padding-left: 30px
	}
table a {
	color: #523A0B;
	text-decoration: none;
	}
table a: visited {
	color: #444;
	font-weight: normal;
	}
table a:hover {
	border-bottom-style: solid;
	}
thead th,
thead td,
tfoot th,
tfoot td {
	border: 1px solid #523A0B;
	border-width: 1px 0;
	background: #EBE5D9;
	}
th {
	font-weight: bold;
	line-height: normal;
	padding: 0.25em 0.5em;
	text-align: left;
	}
tbody th,
tbody td {
	text-align: left;
	vertical-align: top;
	}
tbody th {
	font-weight: normal;
	white-space: nowrap;
	}
tbody th a: link,
tbody th a: visited {
	font-weight: bold;
	}
tbody th {
	border: 1px solid #fff;
	border-width: 1px 0;
	}
tbody tr.odd th,
tbody tr.odd td {
	border-color: #EBE5D9;
	background: #F7F4EE;
	}
tbody tr:hover td,
tbody tr:hover th {
	}
caption {
	font-family:Georgia,Times,serif;
	font-weight: normal;
	font-size: 1.1em;
	text-align: left;
	margin: 0;
	padding: 0.5em 0.25em;
	padding-left: 10px
	}
caption.caption2 {
	font-family:Georgia,Times,serif;
	font-weight: normal;
	font-size: 1.1em;
	text-align: left;
	margin: 0;
	padding: 0.5em 0.25em;
	padding-left: 30px
	}
caption.captionSmaller {
	font-family:Georgia,Times,serif;
	font-weight: normal;
	font-size: 0.9em;
	text-align: left;
	margin: 0;
	padding: 0.5em 0.25em;
	padding-left: 30px
	}
tr.smaller {
	font-size: 0.9em;
	}
th.smaller {
	font-weight: bold;
	font-size: 0.9em;
	line-height: normal;
	padding: 0.25em 0.5em;
	text-align: left;
	}
tbody td.numbers {
	text-align: center
	}
tbody td.images {
	padding: 0 0em;
	text-align: center
	}
table.grid {
	width: 100px;
	border-spacing: 0;
	margin: 0;
	background: #ffffff
	}
table.grid tbody td {
	padding: 1 1px;
	text-align: left;
	border: 0px;
	border-width: 0px;
	}
table.index {
	table-layout: fixed;
	margin-left: auto;
   	margin-right: auto;
	font: normal "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	border-collapse: separate;
	border-spacing: 0;
	color: #000;
	}
table.index tbody td {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	font-size: 0.9em;
	}
table.index caption {
	font-family: Georgia,Times,serif;
	font-weight: normal;
	font-size: 0.9em;
	text-align: left;
	padding-left: 4px;
	padding-right: 30px;
	padding-top: 2px;
	padding-bottom: 4px;
	margin: 0;
	}
table.index a:hover {
	border-bottom-style: solid;
	border-width: 1px 0;
	}
table.index ol {
	padding-left: 10px; 
	padding-right: 0px; 
	padding-top: 0px;
	padding-bottom: 0px;
	}
table.index li {
	font-family:Georgia,Times,serif;
	font-weight: normal;
	font-size: 0.9em;
	text-align: left;
	padding-left: 0px; 
	padding-right: 4px; 
	padding-top: 0px;
	padding-bottom: 2px;
	}
table.history {
	border-collapse: separate;
	border-spacing: 0;
	color: #000;
	padding-left: 30px;
	padding-bottom: 6px;
	}
table.history thead th {
	border: 1px solid #523A0B;
	border-width: 1px 0;
	background: #EBE5D9;
	}
table.history tbody td {
	font: 10pt georgia;
	text-align: left;
	vertical-align: top;
	padding-bottom: 8px;
	}
table.history tbody td.date {
	font-size: 9pt; 
	font-family: "Andale Mono", monospace;
	width: 100px;
	text-align: left;
	}
table.history tbody td.pages {
	font-size: 9pt; 
	font-family: "Andale Mono", monospace;
	width: 100px;
	padding-left: 0px;
	padding-right: 14px;
	}
table.packages {
	background: #F7F4EE
	}
table.packages a {
	font: 12pt georgia;
	line-height: 16pt;
	color: #523A0B;
	text-decoration: underline;
	}
table.packages a:hover {
	border-bottom-style: none;
	}
table.inventory {
	background: #F7F4EE;
	border-spacing: 0;
	color: #000;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-right: 10px;
	}
table.inventory thead th {
	font: 10pt georgia;
	font-weight: bold;
	border: 1px solid #523A0B;
	background: #EBE5D9;
	}
table.inventory tbody td {
	border: 1px solid #523A0B;
	font-size: 9pt; 
	font-family: "Andale Mono", monospace;
	text-align: left;
	vertical-align: top;
	padding-bottom: 2px;
	text-align: left;
	}
table.inventory tbody td.defined {
	text-align: center;
	}